<a href="https://colab.research.google.com/github/Harishpatel05/harishpatel/blob/main/Untitled3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
#sample data set
data={'age':[25,27,np.nan,100,30,27],
'salary':[5000,52000,51000,50500,52000,52000],
'city':['A','B','A','A','A', np.nan]
}
df=pd.DataFrame(data)
print('original data:')
print(df)
#1.handeling missing values
df['age']=df['age'].fillna(df['age'].mean())
print("\n after handeling missing value")
print(df)
#2.noise deduction(removing outlier)
Q1=df['age'].quantile(0.25)
Q3=df['age'].quantile(0.75)
IQR=Q3-Q1
lower_limit=Q1-1.5*IQR
upper_limit=Q3+1.5*IQR
df=df[(df['age']>=lower_limit)&
      (df['age']<=upper_limit)]
print("\n after noise deduction")
print(df)

df=df.drop_duplicates('age')
print("\n after removing duplicates")
print(df)
#3.Identifying & removing data redudency(duplicater)
df=df.drop_duplicates()
print("\n after removing data redudant(duplicate)records:")
print(df)

original data:
     age  salary city
0   25.0    5000    A
1   27.0   52000    B
2    NaN   51000    A
3  100.0   50500    A
4   30.0   52000    A
5   27.0   52000  NaN

 after handeling missing value
     age  salary city
0   25.0    5000    A
1   27.0   52000    B
2   41.8   51000    A
3  100.0   50500    A
4   30.0   52000    A
5   27.0   52000  NaN

 after noise deduction
    age  salary city
0  25.0    5000    A
1  27.0   52000    B
2  41.8   51000    A
4  30.0   52000    A
5  27.0   52000  NaN

 after removing duplicates
    age  salary city
0  25.0    5000    A
1  27.0   52000    B
2  41.8   51000    A
4  30.0   52000    A

 after removing data redudant(duplicate)records:
    age  salary city
0  25.0    5000    A
1  27.0   52000    B
2  41.8   51000    A
4  30.0   52000    A